{% extends 'MainM/base.html' %}

{% block contenido_titulo %}
    Filtro
{% endblock contenido_titulo %}


{% block contenido %}
    <h3>Busqueda filtrada por nombre</h3>
    {% for persona in Usuario_nombre %}
        <li>
            {{persona}}
        </li>
    {% endfor %}

    <h3>Busqueda filtrada por año de nacimiento</h3>
    {% for fecha in Usuario_nacimiento %}
        <li>
            {{fecha}}
        </li>
    {% endfor %}

    <h3>Busqueda filtrada por pais de origen</h3>
    {% for pais in Usuario_pais_origen %}
        <li>
            {{pais}}
        </li>
    {% endfor %}
{% endblock contenido %}