{% extends 'MainM/base.html' %}

{% block contenido_titulo %}
    Registrarse/Iniciar sesión
{% endblock contenido_titulo %}


{% block contenido %}
    <p>Si todavia no tenés perfil en el blog, registrate y comentá algo!</p>
    <div></div>
    <a class="btn btn-primary" href="{% url 'Cliente:crear_usuarios' %}">Registrate</a>
    <div></div>
    <p><h3>Miembros de la comunidad</h3></p>
    <div></div>
    <p><a class="btn btn-primary" href="{% url 'Cliente:usuario_buscado' %}">Filtro</a></p>
    {% for persona in Usuarios %}
        <li>
            {{persona}}
            <div></div>
            <p>Usuario: {{persona.usuario}}</p>
        </li>
    {% endfor %}
{% endblock contenido %}