{% extends 'MainM/base.html' %}

{% block contenido_titulo %}
    Registrarse/Iniciar sesión
{% endblock contenido_titulo %}


{% block contenido %}
    Si todavia no tenés perfil en el blog, registrate! Si ya tenés un perfil iniciá sesion y comentá algo!
    <div></div>
    <a class="btn btn-primary" href="{% url 'Cliente:crear_usuarios' %}">Registrate</a>
    <div></div>
    <h3>Miembros de la comunidad</h3>
    <div></div>
    {% for persona in Usuarios %}
        <li>
            {{persona}}
        </li>
    {% endfor %}
{% endblock contenido %}