{% extends 'MainM/base.html' %}


{% block contenido_titulo %}
    Registrarse/Iniciar sesión
{% endblock contenido_titulo %}


{% block contenido %}
    <p>Si todavia no tenés perfil en el blog, registrate y comentá algo!</p>
    <div></div>
    <p><a class="btn btn-primary" style="background-color: #3498db;" href="{% url 'Cliente:crear_usuarios' %}">Registrate</a></p>
    <div></div>
    <p><h3>Miembros de la comunidad</h3></p>
    <div></div>
    <p><a class="btn btn-primary" style="background-color: #3498db;" href="{% url 'Cliente:usuario_buscado' %}">Filtro</a></p>
    {% for persona in Usuarios %}
            <div></div>
            {% if persona.username == "admin" %}
            {% else %}
                <p>Usuario: {{persona.username}}</p>
            {% endif %}
            
    {% endfor %}
{% endblock contenido %}