{% extends 'Producto/index.html' %}




{% block contenido_titulo %}
    Comentá! (solo posible si tienes un usuario creado)
{% endblock contenido_titulo %}

{% block contenido %}
<style>
    body {
        background-color: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }

    h1 {
        color: #f9fafb;
    }

    form {
        max-width: 400px;
        margin: 20px auto;
        background-color: #333;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    label {
        display: block;
        margin-bottom: 8px;
        color: #fcfefe;
    }

    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #444;
        border: 1px solid #3498db;
        border-radius: 4px;
        color: #fff;
    }

    button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #258cd1;
    }

    .btn-back {
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 4px;
        display: inline-block;
        margin-top: 20px;
    }

    .btn-back:hover {
        background-color: #258cd1;
    }
</style>
</head>
<body>
{% if user.is_authenticated %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Comentar</button></p>
</form>

<a class="btn btn-back" href="{% url 'Producto:Producto' %}">Volver a videos</a>

</body>
{% else %}
    <p><a class="btn btn-back" href="{% url 'Cliente:login' %}">Primero hacé login</a></p>
{% endif %}
{% endblock contenido %}