{% extends 'MainM/base.html' %}

{% block contenido_titulo %}
    Videos
{% endblock contenido_titulo %}

{% block contenido %}
    Acá compartimos con ustedes nuestras aventuras!
    <div class="row gx-4 gx-lg-5">

        {% include 'Producto/tarjeta_videos.html' %}
        
    </div>

        <p><a class="btn btn-primary" href="{% url 'Producto:comentar' %}">Comentar</a></p>
        <div></div>
        <p><a class="btn btn-primary" href="{% url 'Producto:comentarios' %}">Ver comentarios</a></p>
        <div></div> 

{% endblock contenido %}



