{% extends 'Producto/index.html' %}

{% block contenido_titulo %}
    Ver Comentarios
{% endblock contenido_titulo %}

{% block contenido %}
    {% for persona in Autor %}

        <h4>{{persona.autor}}</h4>
        <p>{{persona.comentario}}</p>
    
    {% endfor %}

    <p><a class="btn btn-primary" href="{% url 'Producto:Producto' %}">Volver a videos</a></p>
    <div></div>
    <p><a class="btn btn-primary" href="{% url 'Producto:comentar' %}">Volver a comentar</a></p>
{% endblock contenido %}

    

