

{% block contenido %}
<style>
    body {
        background-color: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }

    h1 {
        color: #f5f7f8;
    }

    h4 {
        color: #f6f8f9;
        margin-bottom: 5px;
    }

    p {
        color: #fff;
        margin-bottom: 15px;
    }
</style>
</head>
<body>

{% for persona in Autor %}
    <h4>{{ persona.autor }}</h4>
    <p>{{ persona.comentario }}</p>
{% endfor %}

</body>
</html>
{% endblock contenido %}

    

