{% extends 'MainM/base.html' %}

{% load static %}

{% block contenido_titulo %}
    Blog Home
{% endblock contenido_titulo %}

{% block contenido %}
    
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'MainM/img/PTB.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">PTB</h1>
            <p>La abreviatura del nombre del grupo, somos 20 tipos haciendo pavadas, surfeando y disfrutando en Mar del Plata. Vas a ver desde videos de surfing hasta fiestas, clips de cada uno de los pibes y mas delirios que se nos crucen por la cabeza cualquier dia de la semana.</p>
            <a class="btn btn-primary" href="{% url 'Producto:Producto' %}">Al aguaaa</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0"><h1>NOVEDADES!!!</h1></p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        {% include 'MainM/tarjeta.html' with titulo="Put*Tube project" cuerpo="Coming soon..." %}

    </div>
    
{% endblock contenido %}