{% extends 'MainM/base.html' %}

{% load static %}

{% block contenido_titulo %}
    <p></p>
    Blog Home
{% endblock contenido_titulo %}

{% block contenido %}
    
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'MainM/img/PTB.webp' %}"/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">PTB</h1>
            <p>La abreviatura del nombre del grupo original, por mas que ahora seamos sie7e 600, la esencia nunca cambia, solo la seriedad en la que hacemos contenido. Somos 20 tipos haciendo pavadas, surfeando y disfrutando en Mar del Plata. Vas a ver desde videos de surfing hasta fiestas, clips de cada uno de los pibes y mas delirios que se nos crucen por la cabeza cualquier dia de la semana.</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-black bg-dark my-2 py-1 text-center">
        <div class="card-body" style="color: black;"><p class="text-white m-0"><h1>ALGUNAS NOVEDADES!!!</h1></p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        {% include 'MainM/tarjeta.html' with titulo="sie7e 600 project" cuerpo="Coming soon..." %}

    </div>
    
{% endblock contenido %}